﻿<!DOCTYPE html>

<html ng-app="todo">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/assets/static/css/site.css"/>
    @RenderSection("css", required: false)
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="spinner centerd" ng-show="isloading"></div>
        <div class="navbar-header">
            <a class="navbar-brand" href="../">Bootswatch</a>
        </div>
    </div>
</div>
@RenderBody()
</body>
<script type="text/javascript" src="~/assets/static/js/main-vendor.js"></script>
@RenderSection("scripts", required: false)
</html>