﻿@using i18n
@{
    ViewBag.Title = "Lang";
}

<h2>Lang</h2>

@{
    int i;
    int maxcols = 3;
    KeyValuePair<string, i18n.LanguageTag>[] langs = LanguageHelpers.GetAppLanguages().OrderBy(x => x.Key).ToArray();
    int cellcnt = langs.Length + 1;
    for (i = 0; i < cellcnt;)
    {
        for (int j = 0; j < maxcols && i < cellcnt; ++i, ++j)
        {
            string langtag;
            string title;
            string nativelangname;
            if (i == 0)
            {
                langtag = "";
                title = "[[[Browser default language setting]]]";
                nativelangname = "[[[Auto]]]";
            }
            else {
                i18n.LanguageTag lt = langs[i - 1].Value;
                title = langtag = lt.ToString();
                nativelangname = lt.NativeNameTitleCase;
            }
            <div>
                @Html.ActionLink(
                    linkText: nativelangname,
                    actionName: "SetLanguage",
                    controllerName: "Lang",
                    routeValues: new { langtag = langtag, returnUrl = Request.Url },
                    htmlAttributes: new { title = title })
            </div>
        }
    }
}