//colors
$color_mirage_approx: #141d27;
$white: #fff;
$red: #f00;
$black_5: rgba(0, 0, 0, .05);
$color_aqua_squeeze_approx: #eaf1f1;
$black_10: rgba(0, 0, 0, .1);

body {
    padding-top: 50px;
    > .navbar {
        //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
        transition: background-color 300ms ease-in;
    }
}
@media(min-width:768px) {
    body > .navbar-transparent {
        background-color: transparent;
        .navbar-nav > .open > a {
            background-color: transparent!important;
        }
    }
}
#home {
    padding-top: 0;
    .navbar-brand {
        padding: 13.5px 15px 12.5px;
        > img {
            display: inline;
            margin: 0 10px;
            height: 100%;
        }
    }
}
#banner {
    min-height: 300px;
    border-bottom: none;
}

input[type='text'].ng-invalid,
input[type='password'].ng-invalid,
textarea.ng-invalid,
select.ng-invalid {
    border-color: $alert-color;

    &:focus {
        @include box-shadow($box-shadow-invalid);
    }

    + .postfix {
        border-color: $alert-color;
    }
}
.table-of-contents {
    margin-top: 1em;
}
.bs-docs-section {
    margin-top: 6em;
    h1 {
        padding-top: 100px;
    }
}
.bs-component {
    position: relative;
    .modal {
        position: relative;
        top: auto;
        right: auto;
        left: auto;
        bottom: auto;
        z-index: 1;
        display: block;
    }
    .modal-dialog {
        width: 90%;
    }
    .popover {
        position: relative;
        display: inline-block;
        width: 220px;
        margin: 20px;
    }
}

.nav-tabs {
    margin-bottom: 15px;
}
.progress {
    margin-bottom: 10px;
}
footer {
    margin: 5em 0;
    li {
        float: left;
        margin-right: 1.5em;
        margin-bottom: 1.5em;
    }
    p {
        clear: left;
        margin-bottom: 0;
    }
}
.section-tout {
    padding: 4em 0 3em;
    border-bottom: 1px solid $black_5;
    background-color: $color_aqua_squeeze_approx;
    .fa {
        margin-right: .5em;
    }
    p {
        margin-bottom: 3em;
    }
}
.section-preview {
    padding: 4em 0;
    .preview {
        margin-bottom: 4em;
        background-color: $color_aqua_squeeze_approx;
        .image {
            position: relative;
            &:before {
                //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
                box-shadow: inset 0 0 0 1px $black_10;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                content: "";
                pointer-events: none;
            }
        }
        .options {
            padding: 1em 2em 2em;
            border: 1px solid $black_5;
            border-top: none;
            text-align: center;
            p {
                margin-bottom: 2em;
            }
        }
    }
    .dropdown-menu {
        text-align: left;
    }
    .lead {
        margin-bottom: 2em;
    }
}
@media(max-width:767px) {
    .splash {
        padding-top: 4em;
        .logo {
            width: 100px;
        }
        h1 {
            font-size: 2em;
        }
    }
    #banner {
        margin-bottom: 2em;
        text-align: center;
    }
    .section-preview .image img {
        width: 100%;
    }
}
.sponsor {
    text-align: center;
    a:hover {
        text-decoration: none;
    }
}
.page-header h1 {
    font-size: 4em;
}
table {
    thead {
        .middle-btn {
            margin-top: 4px;
            text-align: center;
        }
        .middle-text {
            margin-top: 8px;
        }
    }
    tbody {
        .middle-btn {
            margin-top: 6px;
            text-align: center;
        }
        .middle-text {
            margin-top: 6px;
        }
    }
}

.error {
    color: $alert-color;
}

.normal-text {
    font-weight: normal;
}

.item_checked_text {
    text-decoration: line-through;
}

.ng-cloak, [ng-cloak] {
  display: none !important;
}