﻿@using i18n

@section css
{
    
}
<div class="container" ng-controller="ListController">
    <div class="page-header"></div>
    <table class="table table-striped table-hover" ng-cloak>
        <thead>
        <tr>
            <th>
                <form name="form" server-validated ng-submit="doAdd()">
                    <div class="row">
                        <div class="col-lg-12">
                            <input type="text" name="title" class="form-control normal-text" ng-model="newtitle" server-validated>
                            <div class="field-error">
                                <span error-for="title"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <button type="submit" class="btn btn-default">@UIResource.Add</button>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-lg-1 middle-btn">
                        <a class="btn btn-danger btn-sm" href="#" ng-click="doDeleteCheckItems(todos)"
                           has-checked="todos" has-checked-prop="selected" has-checked-prompt="[[[必須選取至少一個項目]]]"
                           confirm-dialog="[[[確定要刪除這些選取的項目?]]]">[[[刪除]]]</a>
                    </div>
                    <div class="col-lg-9 middle-text">[[[項目]]]</div>
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in todos">
            <td>
                <div class="row">
                    <div class="col-lg-1 middle-btn">
                        <input type="checkbox" ng-model="item.selected" ng-click="CheckItem(todos)"/>
                    </div>
                    <div class="col-lg-9 middle-text">
                        <span ng-hide="item.isedit" ng-class="{'item_checked_text': item.selected}">{{item.title}}</span>
                        <input type="text" ng-model="item.copy_title" class="form-control input-sm" ng-show="item.isedit"/>
                    </div>
                    <div class="col-lg-2">
                        <a ng-hide="item.isedit" class="btn btn-warning btn-sm" href="#" ng-click="doEditMode(item)">[[[修改]]]</a>
                        <a ng-hide="item.isedit || item.isdeleting" class="btn btn-danger btn-sm" href="#" ng-click="doDelete(item)" confirm-dialog="[[[確定要刪除這個項目?]]]">[[[刪除]]]</a>
                        <a ng-show="item.isedit" class="btn btn-primary btn-sm" href="#" ng-click="doUpdateEdit(item)">[[[更新]]]</a>
                        <a ng-show="item.isedit" class="btn btn-link btn-sm" href="#" ng-click="doEditMode(item)">[[[取消]]]</a>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

@section scripts
{
    <script type="text/javascript" src="~/assets/static/js/main-todo.js"></script>
}
